
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="/static/project.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js"></script>



{% include "nav.html" %}

{% load staticfiles %}
{% block content %}

<!--<nav>-->
<!--<ul>-->
<!--<li><a href="#">My Projects</a></li>-->
<!--<li><a href="#">Create New Project</a></li>-->
<!--<li><a href="#">My Teams</a></li>-->
<!--<li><a href="#">My Funds</a></li>-->
<!--<li><a href="#">Manage Account</a></li>-->
<!--<br>-->
<!--<li><a href="#">About</a></li>-->
<!--<li><a href="#">Resources</a></li>-->
<!--<li><a href="#">Legal</a></li>-->
<!--<li><a href="#">Counsel</a></li>-->
<!--</ul>-->
<!--</nav>-->

<article>
    <div class='content'>

        <div class="row">
            <div class="col-md-8"> <span id='tree'></span> </div>
            <div class="col-md-4"> <div id='vid-container'> <embed id='vid'/></div>
            </div>
        </div>
    </div>
    <script>
$( document ).ready(function() {
    $.get( "http://localhost:8000/projects/", {} )
  .done(function( data ) {
    treeData = data;
    loadTreeWidget();
  });
});
</script>
    <!--<script src='projecttree.js'></script>-->
</article>
{% endblock %}
{% include "footer.html" %}


<script src="/static/projecttree.js"></script>

