container_commands:
   01_collectstatic:
      command: "source /opt/python/run/venv/bin/activate && python vcombinator/manage.py collectstatic --noinput"
   02_createsu:
      command: "source /opt/python/run/venv/bin/activate && python vcombinator/manage.py createsu""
option_settings:
   "aws:elasticbeanstalk:container:python:staticfiles":
      /static/: "static/"
