container_commands:
    01_makemigrations:
        command: "source /opt/python/run/venv/bin/activate && python vcombinator/manage.py makemigrations"
    02_migrate:
        command: "source /opt/python/run/venv/bin/activate && python vcombinator/manage.py migrate"
option_settings:
   "aws:elasticbeanstalk:container:python:staticfiles":
      /static/: "https://s3.amazonaws.com/cgi-img-lab-us-east-1-imfs-vcombinator/static/"
