container_commands:
   01_migrate:
      command: "python ./vcombinator/manage.py migrate"
      leader_only: true
   02_collectstatic:
      command: "python ./vcombinator/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/opt/python/current/app/vcombinator:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "vcombinator/wsgi.py"
