
{% load static %}

<footer class="footer container-fluid w-10" >
    <div class="row">
        <div class="col col-lg-2 ">
            <img class="pt-3" src="{% static '/images/vcomp_logo.png' %}" height="50"/>
        </div>
        <div class="col col-lg-2 text-left">
            V Combinator
            <br><a class="text-muted" href>About</a>
            <br><a class="text-muted" href>Contact</a>
            <br><a class="text-muted" href>IMFS Blog</a>
        </div>
        <div class="col col-lg-2 text-left">
            Other Links
            <br><a class="text-muted" href="http://www.ycombinator.com">Y Combinator</a>
            <br><a class="text-muted" href="https://techcrunch.com">TechCrunch</a>
            <br><a class="text-muted" href="https://banknxt.com">BankNXT</a>
        </div>
        <div class="col  border border-success border-top-0 border-bottom-0 border-right-0 text-left pl-5">
            Legal
            <br><a class="text-muted" href>Copyright Policy</a>
            <br><a class="text-muted" href>Intellectual Property Rights</a>
            <br><a class="text-muted" href>Legal Disclaimer</a>
            <br><a class="text-muted" href>Privacy Policy</a>
            <br><a class="text-muted" href>Terms of Use</a>
        </div>
    </div>
</footer>