<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% include "nav.html" %}
{% load staticfiles %}

<div class="container">
<form>
<div class="form-group">
  <label for="entrepreneur">Name of entrepreneur:</label>
  <textarea class="form-control" rows="1" id="entrepreneur">Mike King</textarea>
</div>

<div class="form-group">
  <label for="idea">Name of idea:</label>
  <textarea class="form-control" rows="3" id="idea"></textarea>
</div>

<div class="form-group">
  <label for="description">1-2 sentence description of your idea:</label>
  <textarea class="form-control" rows="3" id="description"></textarea>
</div>

<div class="form-group">
  <label for="technology">Describe the technology you are interested in experimenting with. What is it? What does it do?</label>
  <textarea class="form-control" rows="3" id="technology"></textarea>
</div>

<div class="form-group">
  <label for="business_impact">What business opportunity do you think this technology could address?</label>
  <textarea class="form-control" rows="3" id="business_impact"></textarea>
</div>

<div class="form-group">
  <label for="impact">How would this impact investment performance and/or make capital markets work better?</label>
  <textarea class="form-control" rows="3" id="impact"></textarea>
</div>

<div class="form-group">
  <label for="whats_new">Whats new about what you would like to experiment with?</label>
  <textarea class="form-control" rows="3" id="whats_new"></textarea>
</div>

<div class="form-group">
  <label for="work_done">What work have you done to develop this idea?</label>
  <textarea class="form-control" rows="3" id="work_done"></textarea>
</div>

<div class="form-group">
  <label for="tested_idea">How have you tested or prototyped the idea to this point?</label>
  <textarea class="form-control" rows="3" id="tested_idea"></textarea>
</div>

<div class="form-group">
  <label for="resources_needed">What resources do you think you need to experiment? (e.g, SME support from IMFS team, access to the IMFS lab, specific IT or other)</label>
  <textarea class="form-control" rows="3" id="resources_needed"></textarea>
</div>

<div class="form-group">
  <label for="time_commitment">How much time are you willing to commit to owning this experiment over a 4-month period?</label>
  <textarea class="form-control" rows="3" id="time_commitment"></textarea>
</div>

<div class="form-group">
  <label for="why_this_idea">Why did you pick this idea?</label>
  <textarea class="form-control" rows="3" id="why_this_idea"></textarea>
</div>
</form>
</div>
{% include "footer.html" %}
